button {
    outline: none;
    cursor: pointer;
}

.button{
    &.shrink{
        padding: 8px 23px;
        margin: 42px auto 0;
        @include breakpoint(medium down){
            margin-top: 37px;
        }
    }
    &.icon{
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
        }
    }
    &.hollow{
        @include breakpoint(small down){
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }
    &.flat{
        padding-left: 30px;
        padding-right: 30px;
        min-height: 45px;
        min-width: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(small down){
            padding: 0 25px;
            max-width: 335px;
            width: 100%;
            margin: auto;
        }
    }
    &.large{
        min-height: 45px;
        // min-width: 114px;
        padding: 10px 14px;
    }
}