.reveal{
    &-overlay{
        overflow: auto;
        padding: 20px;
        @include breakpoint(small down){
            padding: 0;
        }
    }
    outline: none;
    @include breakpoint(small down){
        
    }
    &_close{
        transition: 300ms;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
        -webkit-tap-highlight-color: transparent;
        color: #8f9399;
        @include breakpoint(small down){
            
        }
        &:hover, &:focus{
            transform: rotate(90deg);
        }
    }

    &--sign{
        padding: 48px 38px 50px;
    }

    &.fade-in.mui-enter {
        transform: translate3d(0, -18px, 0) perspective(435px) rotateX(8deg);
        &.mui-enter-active {
            transform: translate3d(0, 0, 0) perspective(435px) rotateX(0);
        }
    }

    &.fade-out.mui-leave {
        transform: translate3d(0, 0, 0) perspective(435px) rotateX(0);
        &.mui-leave-active {
            transform: translate3d(0, -18px, 0) perspective(435px) rotateX(8deg);
        }
    }
}

.fade-in.mui-enter {
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    opacity: 0;
    transition-property: all;
    &.mui-enter-active {
        opacity: 1;
    }
}

.fade-out.mui-leave {
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    opacity: 1;
    transition-property: all;
    &.mui-leave-active {
        opacity: 0;
    }
}