.rating{
    display: flex;
    font-family: $book-font-family;
    font-size: 12px;
    align-items: center;
    margin-top: 4px;
    &--large{
        font-size: 18px;
        margin: 0;
        @include breakpoint(small down){
            font-size: 14px;
        }
        .rating_stars{
            margin-right: 10px;
            svg{
                width: 17px;
                height: 18px;
                @include breakpoint(small down){
                    width: 14px;
                    height: 13px;
                }
                + svg{
                    margin-left: 3px;
                }
            }
        }
    }
    &_stars{
        display: flex;
        margin-right: 5px;
        svg + svg{
            margin-left: 2px;
        }
    }
    &--small{
        font-size: 10px;
        svg{
            width: 9px;
            height: 8px;
        }
    }
}