.table{
    border-spacing: 0;
    font-family: $book-font-family;
    white-space: nowrap;
    width: 100%;
    @include breakpoint(medium down){
        margin-bottom: 20px;
    }
    &_wrap{
        width: calc(100% + 20px);
        margin: 0 -10px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @include breakpoint(medium down){
            margin: 0 -8px;
            width: calc(100% + 16px);
        }
        @include breakpoint(small down){
            margin: 0 -6px;
            width: calc(100% + 12px);
        }
        &::-webkit-scrollbar {
            width: 9px;
            height: 9px;
            background-color: #e9eef6;
            border-radius: 5px;
        }
    }
    tr {
        th, td{
            &:first-child{
                padding-left: 10px;
                @include breakpoint(medium down){
                    padding-left: 8px;
                }
            }
        }
    }
    th {
        color: $medium-gray;
        font-size: 13px;
        font-weight: 300;
        text-align: left;
        border-bottom: 1px solid #e9eef6;
        padding: 0 15px 20px;
        vertical-align: top;
    }
    td {
        padding: 20px 15px;
        border-bottom: 1px solid #e9eef6;
    }
    [data-toggle]{
        text-decoration: underline;
        transition: color 300ms;
        &:hover, &:focus{
            color: $primary-color;
        }
    }
    .checkbox label::before{
        margin: 0;
    }

    &--order{
        margin-top: 40px;
        tr{
            th, td{
                &:first-child{
                    width: 18px;
                    padding: 0;
                }
            }
        }
    }
}