.documents{
    box-shadow: 0 0 25px rgba(107, 118, 131, 0.1);
    border-radius: 9px;
    margin: 30px 25px 0;
    background-color: $white;
    padding: 40px 30px 90px;
    &--new{
        padding-bottom: 140px;
    }
    &--popup{
        margin: 0;
        padding: 40px 35px 45px;
        .documents{
            &_top{
                display: grid;
                grid-gap: 50px;
                justify-content: start;
                grid-template-columns: 1fr minmax(220px, 34%);
                &_buttons{
                    padding: 0;
                }
            }
            &_new{
                grid-template-areas: 'form check'
                                    'buttons buttons';
                grid-template-columns: 1fr minmax(220px, 34%);
                grid-gap: 40px 50px;
                &_checkboxes{
                    padding-top: 22px;
                    grid-template-columns: 1fr;
                    align-content: start;	
                    grid-gap: 28px
                }
            }
        }
    }
    &_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .h2{
            margin: 0;
        }
        &_buttons{
            padding-left: 20px;
            display: flex;
            .button + .button{
                margin-left: 30px;
            }
        }
    }
    &_search{
        display: grid;
        grid-template-columns: minmax(100px, 250px) repeat(5, auto);
        grid-gap: 20px;
        justify-content: space-between;
        align-items: center;
        padding: 45px 10px 30px;
        margin: 0 -10px;
        border-bottom: 1px solid #e9eef6;
        margin-bottom: 50px;
        input{
            height: auto;
            padding: 9px 20px;
        }
        .button{
            justify-self: end;
        }
    }
    &_dropdown{
        display: block;
        margin: 0;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transition: 300ms;
        font-family: $book-font-family;
        box-shadow: 0 0 30px rgba(107, 118, 131, 0.11);
        overflow: hidden;
        &.is-open{
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
        li + li a{
            &::before{
                left: 10px;
                width: calc(100% - 20px);
            }
        }
        a {
            padding: 10px 15px;
            min-height: 54px;
            // &:hover
        }
    }
    &_new{
        display: grid;
        margin-top: 40px;
        grid-template-areas: 'form check'
                             'form buttons';
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        &_checkboxes{
            grid-area: check;
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: end;
            grid-gap: 40px;
            padding-top: 15px;
        }
        &_buttons{
            grid-area: buttons;
            align-self: end;
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 20px;
            justify-content: end;
        }
    }
}