.documents{
    box-shadow: 0 0 25px rgba(107, 118, 131, 0.1);
    border-radius: 9px;
    margin: 30px 25px 0;
    background-color: $white;
    padding: 40px 30px 90px;
    @include breakpoint(medium down){
        margin: 15px 15px 0;
        padding: 30px 20px;
    }
    @include breakpoint(small down){
        margin: 15px 10px 0;
        padding: 20px 10px 30px;
    }
    &--new{
        padding-bottom: 140px;
        @include breakpoint(large down){
            padding-bottom: 62px;
        }
        @include breakpoint(small down){
            padding-bottom: 42px;
        }
        .documents{
            &_new{
                @include breakpoint(large down){
                    grid-template-areas: 'form check'
                                        'buttons buttons';
                    grid-template-columns: 1fr minmax(220px, 34%);
                    grid-gap: 40px 50px;
                }
                @include breakpoint(medium down){
                    grid-template-columns: 1fr;
                    grid-template-areas: 'form'
                                         'check'
                                         'buttons';
                    grid-gap: 30px;
                }
                &_checkboxes{
                    @include breakpoint(large down){
                        padding-top: 22px;
                        grid-template-columns: 1fr;
                        align-content: start;	
                        grid-gap: 28px
                    }
                    @include breakpoint(medium down){
                        padding: 0;
                        grid-gap: 15px;
                    }
                }
            }
        }
    }
    &--popup{
        margin: 0;
        padding: 40px 35px 45px;
        @include breakpoint(medium down){
            padding: 58px 50px 52px;
        }
        @include breakpoint(small down){
            padding: 48px 10px 36px;
        }
        .documents{
            &_top{
                display: grid;
                grid-gap: 50px;
                justify-items: start;
                grid-template-columns: 1fr minmax(220px, 34%);
                @include breakpoint(medium down){
                    grid-template-columns: 1fr auto;
                }
                @include breakpoint(small down){
                    display: block;
                }
                &_buttons{
                    padding: 0;
                }
            }
            &_new{
                grid-template-areas: 'form check'
                                    'buttons buttons';
                grid-template-columns: 1fr minmax(220px, 34%);
                grid-gap: 40px 50px;
                @include breakpoint(medium down){
                    grid-template-columns: 1fr;
                    grid-template-areas: 'form'
                                         'check'
                                         'buttons';
                    grid-gap: 30px;
                }
                &_checkboxes{
                    padding-top: 22px;
                    grid-template-columns: 1fr;
                    align-content: start;	
                    grid-gap: 28px;
                    @include breakpoint(medium down){
                        padding: 0;
                        grid-gap: 15px;
                    }
                }
            }
        }
    }
    &_top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(small down){
            display: block;
        }
        .h2{
            margin: 7px 20px 7px 0;
            @include breakpoint(small down){
                margin: 0 0 20px;
            }
        }
        &_buttons{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: 30px;
            // justify-content: center;
            min-width: 250px;
            @include breakpoint(medium down){
                grid-gap: 20px;
            }
            @include breakpoint(small down){
                grid-template-columns: repeat(2, minmax(auto, 152.5px));
                grid-gap: 30px;
            }
        }
    }
    &_search{
        display: grid;
        grid-template-columns: minmax(150px, 250px) repeat(5, auto);
        grid-gap: 20px;
        justify-content: space-between;
        align-items: center;
        padding: 45px 10px 30px;
        margin: 0 -10px 50px;
        border-bottom: 1px solid #e9eef6;
        @include breakpoint(medium down){
            padding: 30px 8px 25px;
            margin: 0 -8px 15px;
            grid-template-columns: 150px repeat(4, auto);
            grid-gap: 15px;
        }
        @include breakpoint(small down){
            grid-template-columns: auto;
            justify-items: start;
            padding: 30px 6px 25px;
            margin: 0 -6px 30px;
        }
        input{
            height: auto;
            padding: 9px 20px;
            @include breakpoint(small down){
                grid-column: 1 / 4;
            }
        }
        .button{
            justify-self: end;
            @include breakpoint(medium down){
                justify-self: stretch;
            }
            @include breakpoint(small down){
                grid-column: 2 / 4;
                justify-self: end;
            }
        }
    }
    &_dropdown{
        display: block;
        margin: 0;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transition: visibility 300ms, opacity 300ms, z-index 300ms;
        font-family: $book-font-family;
        box-shadow: 0 0 30px rgba(107, 118, 131, 0.11);
        overflow: hidden;
        &--wide{
            width: 237px;
        }
        &.is-open{
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
        li + li a{
            &::before{
                left: 10px;
                width: calc(100% - 20px);
            }
        }
        a {
            padding: 10px 15px;
            min-height: 52px;
            // &:hover
        }
    }
    &_new{
        display: grid;
        margin-top: 40px;
        grid-template-areas: 'form check'
                             'form buttons';
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        &_checkboxes{
            grid-area: check;
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: end;
            grid-gap: 40px;
            padding-top: 15px;
        }
        &_buttons{
            grid-area: buttons;
            align-self: end;
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 20px;
            justify-content: end;
            @include breakpoint(medium down){
                grid-template-columns: repeat(auto-fill, 150px);
                grid-gap: 15px 30px;
                justify-content: start;
            }
            @include breakpoint(small down){
                grid-template-columns: minmax(auto, 335px);
                justify-content: center;
            }
        }
    }
}