.header{
    background-color: $white;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $book-font-family;
    border-bottom: 1px solid #e9eef6;
    @include breakpoint(medium down){
        padding: 5px 20px 5px 15px;
    }
    @include breakpoint(small down){
        border: 0;
        padding: 0 5px 0 20px;
        position: relative;
        z-index: 14;
        border-bottom: 1px solid $light-gray;
    }
    &_logo{
        max-width: 103px;
        margin-right: auto;
        @include breakpoint(medium){
            display: none;
        }
    }
    &_search{
        flex: 1 1 auto;
        max-width: 360px;
        position: relative;
        @include breakpoint(medium down){
            // max-width: 180px;
        }
        &--head{
            @include breakpoint(small down){
                display: none;
            }
        }
        &--mobile{
            max-width: none;
            // margin-right: 20px;
        }
        input{
            height: auto;
            padding: 9px 20px;
            padding-right: 50px;
            @include breakpoint(medium down){
                padding: 8px 15px;
            }
        }
        &_button{
            position: absolute;
            right: 10px;
            top: 0;
            padding: 9px;
            color: #8f9399;
            @include breakpoint(medium down){
                padding: 9px 4px;
                width: 22px;
                svg{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    &_info{
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        font-size: 16px;
        @include breakpoint(medium down){
            font-size: 13px;
        }
        &_item{
            padding: 14px 20px;
            @include breakpoint(medium down){
                padding: 13px 15px;
                svg{
                    width: auto;
                    height: 20px;
                }
            }
            @include breakpoint(small down){
                padding: 10px;
                &:nth-last-child(-n+2){
                    display: none;
                }
            }
            + li{
                border-left: 1px solid #e9eef6;
                @include breakpoint(small down){
                    border: 0;
                }
            }
            &:last-child{
                padding-right: 0;
            }
            
            &--wallet{
                .header_info_button{
                    padding-right: 13px;
                }
                .badge{
                    padding: 2px;
                }
            }
        }
        &_button{
            display: block;
            color: #8f9399;
            position: relative;
            margin-right: 5px;
            transition: color 200ms;
            &:hover, &:focus{
                color: $black;
            }
            svg:only-child{
                margin-right: -5px;
            }
        }
    }
    // &_lang{
    //     button:not([class]){
    //         display: flex;
    //         align-items: center;
    //         color: $primary-color;
    //     }
        
    //     &--head{
    //         @include breakpoint(small down){
    //             display: none;
    //         }
    //         svg{
    //             margin-right: 10px;
    //             @include breakpoint(medium down){
    //                 width: 19px;
    //                 height: auto;
    //             }
    //         }
    //     }
    //     &--mobile{
    //         font-size: 18px;
    //         font-family: $book-font-family;
    //         svg{
    //             margin-right: 6px;
    //         }
    //     }
    // }
    // &_user{
    //     display: flex;
    //     align-items: center;
    //     button:not([class]){
    //         display: flex;
    //         align-items: center;
    //         text-align: left;
    //         @include breakpoint(small down){
    //             display: none;
    //         }
    //         svg{
    //             margin-right: 10px;
    //             @include breakpoint(medium down){
    //                 width: 16px;
    //                 flex: 0 0 16px;
    //                 height: auto;
    //             }
    //         }
    //     }
    // }
    // &_notify{
    //     button{
    //         margin-right: 4px;
    //         @include breakpoint(medium down){
    //             margin-left: 10px;
    //             svg{
    //                 width: 16px;
    //                 height: auto;
    //             }
    //         }
    //         @include breakpoint(small down){
    //             margin-left: 0;
    //         }
    //     }
    // }
    // &_cart{
    //     button{
    //         margin-right: 5px;
    //         @include breakpoint(medium down){
    //             margin: 0;
    //             svg{
    //                 width: 23px;
    //                 height: auto;
    //             }
    //         }
    //     }
    // }
    // &_wallet{
    //     button{
    //         margin-right: 18px;
    //     }
    // }
    &_hamb{
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        width: 55px;
        transform: translateY(0);
        transition: 400ms;
        @include breakpoint(medium){
            display: none;
        }
        &[aria-expanded="true"]{
            .header_hamb{
                &_icon{
                    transform: rotate(45deg);
                }
                &_line{
                    &--top{
                        stroke-dashoffset: -98px;
                    }
                    &--bottom{
                        stroke-dashoffset: -138px;
                    }
                }
            }
        }
        &_icon{
            display: block;
            width: 100%;
            transition: 400ms;
        }
        &_line{
            fill: none;
            transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
            stroke: #8f9399;
            stroke-width: 4;
            stroke-linecap: round;
            &--top{
                stroke-dasharray: 40 139;
            }
            &--bottom{
                stroke-dasharray: 40 180;
            }
        }
    }
    &_mobile{
        position: absolute;
        top: 56px;
        height: auto;
        border-bottom: 1px solid $light-gray;
        @include breakpoint(medium){
            display: none;
        }
        button{
            color: #8f9399;
            transition: color 300ms;
            &:hover, &:focus{
                color: $body-font-color;
            }
        }
        &_top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 15px;
        }
        &_user[class]{
            font-size: 13px;
            display: flex;
            align-items: center;
            color: $body-font-color;
            font-family: $book-font-family;
            margin: 0 15px 14px;
            svg{
                margin-right: 12px;
            }
        }
    }
    &_login.flat{
        @include breakpoint(medium down){
            min-width: 123px;
            min-height: 36px;
            padding: 10px 30px;
        }
        @include breakpoint(small down){
            min-width: 80px;
            width: auto;
            margin: 0;
        }
    }
    &--register{
        @include breakpoint(small down){
            padding: 10px 10px 10px 20px;
        }
        .header{
            &_logo{
                display: block;
                max-width: none;
                margin-left: 8px;
                @include breakpoint(medium down){
                    margin-left: 15px;
                    max-width: 120px;
                }
                @include breakpoint(small down){
                    margin-left: 0;
                    max-width: 105px;
                }
            }
            &_info{
                border-right: 1px solid #e9eef6;
                margin-right: 30px;
                @include breakpoint(medium down){
                    margin-right: 15px;
                }
                @include breakpoint(small down){
                    border: 0;
                    margin: 0;
                }
            }
            &_lang{
                @include breakpoint(small down){
                    display: block;
                    padding: 5px 10px;
                }
            }
        }
    }
    &--wallet{
        justify-content: flex-start;
        .header{
            &_logo{
                display: block;
                max-width: none;
                margin-right: 50px;
                @include breakpoint(medium down){
                    margin-right: 45px;
                }
                @include breakpoint(small down){
                    margin: 0;
                    max-width: 103px;
                }
            }
            &_info{
                margin-left: auto;
            }
        }
    }
}