.order{
    box-shadow: 0 0 25px rgba(107, 118, 131, 0.1);
    border-radius: 9px;
    background-color: $white;
    margin: 30px 25px;
    @include breakpoint(medium down){
        margin: 15px 15px 0;
    }
    @include breakpoint(small down){
        margin: 15px 10px 0;
    }
    &_title{
        background-color: $secondary-color;
        min-height: 60px;
        display: flex;
        align-items: center;
        margin: 0;
        border-radius: 9px 9px 0 0;
        padding: 10px 30px;
        @include breakpoint(medium down){
            padding: 10px 22px;
        }
        @include breakpoint(small down){
            min-height: 42px;
            padding: 10px;
        }
    }
    &_content{
        padding: 26px 30px 22px;
        display: grid;
        grid-template-areas: 'top top'
                             'info info'
                             'documents documents'
                             'discuss messages';
        grid-template-columns: 1fr 40%;
        grid-column-gap: 3%;
        @include breakpoint(medium down){
            padding: 20px 22px 33px;
            grid-template-columns: 100%;
            grid-template-areas: 'top'
                                'info'
                                'documents'
                                'discuss'
                                'messages';
        }
        @include breakpoint(small down){
            padding: 20px 10px 35px;
        }
    }
    &_top{
        grid-area: top;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 10px;
        border-bottom: 1px solid #e9eef6;
        margin: 0 -10px;
        @include breakpoint(medium down){
            margin: 0 -8px;
            padding: 0 8px;
        }
        @include breakpoint(small down){
            margin: 0 -6px;
            padding: 0 6px;
        }
        &_buttons{
            flex: 0 0 auto;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 15px;
            margin-bottom: 30px;
            @include breakpoint(medium down){
                width: 100%;
                grid-gap: 15px 30px;
            }
            @include breakpoint(small down){
                grid-template-columns: auto;
                justify-content: center;
                margin-bottom: 25px;
            }
        }
    }
    &_status{
        display: grid;
        grid-template-columns: repeat(8, minmax(72px, 1fr));
        margin: 0;
        list-style: none;
        font-family: $book-font-family;
        min-width: 472px;
        @include breakpoint(small down){
            margin-bottom: 14px;
        }
        &_wrap{
            flex: 1 1 auto;
            transform: translateX(calc(((100% / 8) - 45px) / -2));
            margin-bottom: 30px;
            overflow: auto;
            @include thick-scrollbar;
            @include breakpoint(large down){
                transform: none;
                flex: 1 1 100%;
                margin: 0 calc(((100% / 8) - 45px) / -2) 25px;
            }
            @include breakpoint(medium down){
                margin: 0 calc(((100% / 8) - 42px) / -2) 25px;
            }
            @include breakpoint(small down){
                margin: 0 -10px 25px;
            }
        }
        @include breakpoint(medium down){
            grid-template-columns: repeat(8, 1fr);
        }
        &_item{
            text-align: center;
            font-size: 12px;
            color: $medium-gray;
            position: relative;
            transition: color 300ms;
            -webkit-tap-highlight-color: transparent;
            @include breakpoint(medium down){
                font-size: 11px;
            }
            &[data-tooltip]{
                outline: none;
                &:hover, &:focus{
                    .order_status_icon{
                        opacity: 0.5;
                    }
                }
            }
            & + &{
                &::before{
                    content: '';
                    position: absolute;
                    top: 22px;
                    right: calc(100% - (100% - 45px) / 2);
                    width: calc(100% - 45px);
                    border-bottom: 2px solid #e9eef6;
                    transition: border-color 300ms;
                    @include breakpoint(medium down){
                        top: 20px;
                        right: calc(100% - (100% - 42px) / 2);
                        width: calc(100% - 42px);
                    }
                    @include breakpoint(small down){
                        top: 18px;
                        right: calc(100% - (100% - 38px) / 2);
                        width: calc(100% - 38px);
                    }
                }
            }
            &.is_active{
                color: $body-font-color;
                &::before{
                    border-color: $primary-color;
                }
                .order_status_icon{
                    color: $white;
                    background-color: $primary-color;
                }
            }
            
        }
        &_icon{
            position: relative;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background-color: #e9eef6;
            color: $medium-gray;
            border-radius: 50%;
            margin-bottom: 10px;
            transition: background-color 300ms, color 300ms, opacity 300ms;
            @include breakpoint(medium down){
                width: 42px;
                height: 42px;
            }
            @include breakpoint(small down){
                width: 38px;
                height: 38px;
                margin-bottom: 14px;
            }
            svg{
                @include breakpoint(small down){
                    width: 20px;
                    height: auto;
                }
            }
        }
        &_label{
            max-width: calc(100% - 12px);
            margin: auto;
            @include breakpoint(medium down){
                max-width: none;
            }
        }
    }
    &_info{
        grid-area: info;
        padding-top: 40px;
        position: relative;
        @include breakpoint(medium down){
            padding-top: 30px;
        }
        @include breakpoint(small down){
            padding-top: 25px;
        }
        &::after{
            display: block;
            content: '';
            width: calc(100% + 20px);
            margin-left: -10px;
            border-bottom: 1px solid #e9eef6;
            @include breakpoint(medium down){
                width: calc(100% + 16px);
                margin-left: -8px;
            }
            @include breakpoint(small down){
                width: calc(100% + 12px);
                margin-left: -6px;
            }
        }
    }
    &_list{
        margin: 25px 0 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        font-family: $book-font-family;
        line-height: 1.63;
        @include breakpoint(medium down){
            font-size: 14px;
        }
        @include breakpoint(small down){
            margin-top: 20px;
        }
        li{
            flex: 0 1 25%;
            margin-bottom: 30px;
            @include breakpoint(large down){
                flex: 0 1 50%;
            }
            @include breakpoint(medium down){
                margin-bottom: 20px;
            }
            @include breakpoint(small down){
                flex: 0 0 100%;
                margin-bottom: 10px;
            }
            &:not(:nth-child(4n+1)){
                padding-left: 5%;
                @include breakpoint(large down){
                    padding: 0;
                }
            }
            &:nth-child(even){
                @include breakpoint(large down){
                    padding-left: 30px;
                }
                @include breakpoint(small down){
                    padding: 0;
                }
            }
            &:nth-last-child(-n+2){
                @include breakpoint(small down){
                    flex: 0 0 50%;
                    margin-bottom: 30px;
                }
            }
        }
        b{
            display: block;
            color: $medium-gray;
            font-family: $header-font-family;
        }
    }
    &_item{
        margin: 0 -10px;
        padding: 30px 10px;
        border-top: 1px solid #e9eef6;
        // justify-content: space-between;
        // align-items: flex-end;
        font-family: $book-font-family;
        position: relative;
        display: grid;
        grid-template-columns: auto 50% 0;
        align-items: end;
        grid-template-areas: 'name info price';
        @include breakpoint(large down){
            grid-template-columns: 1fr 0;
            grid-template-areas: 'name name' 'info price';
            grid-gap: 25px 0;
        }
        @include breakpoint(medium down){
            padding: 30px 8px;
            margin: 0 -8px;
            &:nth-last-child(-n+2){
                padding-bottom: 24px;
            }
        }
        @include breakpoint(small down){
            padding: 26px 6px;
            margin: 0 -6px;
        }
        &_name{
            margin: 0;
            list-style: none;
            font-family: $book-font-family;
            font-size: 16px;
            flex: 1 1 50%;
            grid-area: name;
            @include breakpoint(small down){
                font-size: 14px;
            }
            li{
                &:first-child{
                    font-weight: 600;
                    font-family: $header-font-family;
                    font-size: 17px;
                    @include breakpoint(small down){
                        font-size: 16px;
                    }
                    b{
                        color: #d8d8d8;
                    }
                }
                + li {
                    margin-top: 15px;
                }
            }
            b{
                font-family: $header-font-family;
                font-size: 16px;
                color: $medium-gray;
                @include breakpoint(small down){
                    font-size: 14px;
                }
            }
        }
        &_info{
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-self: stretch;
            // max-width: 370px;
            flex: 1 1 50%;
            grid-area: info;
            li{
                flex: 1 1 50%;
                padding-left: 10%;
                @include breakpoint(large down){
                    padding: 0;
                }
                @include breakpoint(small down){
                    flex: 1 1 100%;
                    + li{
                        margin-top: 12px;
                    }
                }
                &:nth-last-child(-n+2) {
                    margin-top: auto;
                    @include breakpoint(large down){
                        margin-top: 15px;
                    }
                }
            }
            span{
                color: $medium-gray;
            }
        }
        &_price{
            // position: absolute;
            // right: 24px;
            // bottom: 30px;
            white-space: nowrap;
            justify-self: end;
            margin-left: 20px;
            grid-area: price;
        }
    }
    &_total{
        margin-left: auto;
        width: calc(20% + 10px);
        font-family: $book-font-family;
        font-size: 18px;
        color: $medium-gray;
        text-align: right;
        padding: 25px 0;
        padding-right: 10px;
        border-top: 1px solid #e9eef6;
        margin-right: -10px;
        @include breakpoint(large down){
            width: calc(50% + 10px);
        }
        @include breakpoint(medium down){
            width: calc(50% + 8px);
            margin-right: -8px;
            font-size: 16px;
            padding-top: 20px;
        }
        @include breakpoint(small down){
            width: calc(100% - 44px);
            padding: 20px 6px;
            margin-right: -6px;
        }
        b{
            color: $primary-color;
            font-family: $header-font-family;
            margin-left: 30px;
        }
    }
    &_documents{
        grid-area: documents;
        padding: 30px 0 16px;
        @include breakpoint(medium down){
            padding-bottom: 0;
        }
        &_buttons{
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: end;
            grid-gap: 20px;
            padding-top: 30px;
            @include breakpoint(small down){
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px 24px;
            }
        }
    }
    &_discuss{
        grid-area: discuss;
        padding-top: 34px;
        @include breakpoint(small down){
            padding-top: 40px;
        }
        &_form{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 40px;
            max-width: 550px;
            @include breakpoint(medium down){
                margin-top: 25px;
                grid-gap: 30px;
                padding-bottom: 25px;
                border-bottom: 1px solid #e9eef6;
            }
            @include breakpoint(small down){
                grid-template-columns: 1fr;
                margin-top: 20px;
                grid-gap: 15px;
            }
            input{
                padding: 10px 20px;
                height: auto;
            }
            .button{
                @include breakpoint(small down){
                    justify-self: end;
                }
            }
        }
    }
    &_messages{
        grid-area: messages;
        border-left: 1px solid #e9eef6;
        padding: 34px 23px 55px 30px;
        @include breakpoint(large down){
            padding-right: 0;
        }
        @include breakpoint(medium down){
            border: 0;
            padding: 25px 0 0;
        }
        &_history{
            font-family: $book-font-family;
            margin-top: 30px;
            @include breakpoint(medium down){
                margin-top: 20px;
            }
        }
        &_message{
            background-color: #f2f7f9;
            border-radius: $global-radius;
            padding: 13px 15px;
            @include breakpoint(small down){
                padding: 10px;
            }
            & + &{
                margin-top: 1em;
            }
        }
    }
}