.register{
    box-shadow: 0 0 25px rgba(107, 118, 131, 0.1);
    border-radius: 9px;
    margin: 30px 25px 0;
    background-color: $white;
    &_top{
        background-color: $secondary-color;
        min-height: 70px;
        display: flex;
        align-items: center;
        margin: 0;
    }
    &_content{
        padding: 25px 20px;
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 120px);
        justify-content: space-between;
    }
    &_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 55px;
        p{
            color: $dark-gray;
            font-family: $book-font-family;
        }
    }
    &_steps{
        margin-top: auto;
        padding-top: 40px;
        &_list{
            margin: 30px 0 0;
            list-style: none;
            counter-reset: steps;
            color: $body-font-color;
            font-family: $book-font-family;
            font-size: 18px;
            font-weight: 300;
            li{
                position: relative;
                counter-increment: steps;
                display: flex;
                align-items: center;
                color: $medium-gray;
                transition: color 300ms;
                + li {
                    margin-top: 35px;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 22px;
                        bottom: 100%;
                        height: 35px;
                        border-right: 2px solid #e9eef6;
                        transition: border-color 300ms;
                    }
                }
                &::before{
                    content: counter(steps);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 45px;
                    width: 45px;
                    height: 45px;
                    background-color: #e9eef6;
                    color: $medium-gray;
                    margin-right: 30px;
                    font-family: $header-font-family;
                    font-size: 24px;
                    font-weight: 600;
                    border-radius: 50%;
                    transition: background-color 300ms, color 300ms;
                }
                &.is_active{
                    color: $body-font-color;
                    &::before{
                        background-color: $primary-color;
                        color: $light-gray;
                    }
                    &::after{
                        border-color: $primary-color;
                    }
                }
            }
        }
    }
}