.supplier{
    box-shadow: 0 0 25px rgba(107, 118, 131, 0.1);
    border-radius: 9px;
    background-color: $white;
    overflow: hidden;
    &_title{
        display: flex;
        justify-content: space-between;
        @include breakpoint(small down){
            font-size: 13px;
        }
        >span{
            margin-right: 20px;
            @include breakpoint(small down){
                margin-right: 10px;
            }
        }
        .rating{
            @include breakpoint(medium down){
                font-size: 14px;
            }
            @include breakpoint(small down){
                font-size: 13px;
            }
            svg{
                @include breakpoint(medium down){
                    width: 12px;
                    height: 12px;
                }
                @include breakpoint(small down){
                    width: 10px;
                    height: 10px;
                    +svg{
                        margin-left: 2px;
                    }
                }
            }
        }
    }
    &_content{
        padding: 20px 20px 60px;
        @include breakpoint(large down){
            padding-bottom: 50px;
        }
        @include breakpoint(medium down){
            padding: 35px 10px 40px;
        }
        @include breakpoint(small down){
            padding: 20px 10px 25px;
        }
    }
    &_info{
        padding: 0 0 40px 20px;
        border-bottom: 1px solid $light-gray;
        display: flex;
        @include breakpoint(medium down){
            padding: 0 0 25px;
            flex-wrap: wrap;
        }
        @include breakpoint(small down){
            padding: 0;
            border: 0;
        }
        &_left{
            flex: 0 0 auto;
            text-align: center;
            padding-top: 40px;
            @include breakpoint(medium down){
                padding: 0;
                max-width: 35px;
            }
        }
        &_img{
            margin-bottom: 14px;
        }
        &_content{
            padding: 40px 22px 0;
            max-width: 586px;
            margin-right: auto;
            @include breakpoint(medium down){
                padding: 0 0 0 15px;
                flex: 0 1 calc(100% - 35px)
            }
            @include breakpoint(small down){
                flex: 1 1 100%;
                padding: 0;
            }
        }
        &_descr{
            color: $dark-gray;
            font-family: $book-font-family;
            margin: 10px 0 22px;
            @include breakpoint(medium down){
                margin: 0 0 15px;
                font-size: 13px;
            }
        }
        &_links{
            display: flex;
            .catalog_item_link{
                + .catalog_item_link{
                    margin: 0 0 0 40px;
                }
            }
        }
        &_contact{
            border-radius: 4px;
            border: 1px solid $light-gray;
            padding: 30px 58px 20px 25px;
            @include breakpoint(medium down){
                padding: 20px 30px 40px;
                margin: 25px 0 0 20px;
                font-size: 12px;
            }
            @include breakpoint(small down){
                padding: 15px 10px 7px;
                margin: 20px 0 0;
                width: 100%;
            }
            h3{
                font-family: $book-font-family;
                font-weight: 600;
                font-size: 16px;
                color: #1f3d82;
                margin-bottom: 10px;
                @include breakpoint(medium down){
                    font-size: 12px;
                }
            }
            table{
                border-spacing: 0;
                font-family: $book-font-family;
                td{
                    padding: 10px 0;
                    @include breakpoint(medium down){
                        padding: 8px 0;
                    }
                    &:first-child{
                        color: $medium-gray;
                        padding-right: 8px;
                    }
                }
            }
        }
    }
    &_details{
        padding: 30px 20px 50px;
        border-bottom: 1px solid $light-gray;
        @include breakpoint(medium down){
            padding: 25px 10px;
        }
        @include breakpoint(small down){
            padding: 25px 0 20px;
            position: relative;
            &.folded{
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 105px;
                    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.93) 43%, $white 100%);
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                }
                .supplier_details{
                    &_text{
                        max-height: 162px;
                        overflow: hidden;
                    }
                    &_button{
                        display: block;
                    }
                }
            }
        }
        &_text{
            font-family: $book-font-family;
            color: $dark-gray;
            margin: 0;
            max-width: 730px;
            @include breakpoint(medium down){
                font-size: 13px;
            }
        }
        &_button{
            display: none;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            white-space: nowrap;
            color: $primary-color;
            font-family: $book-font-family;
            padding: 7px;
        }
    }
    &_cols{
        display: flex;
        padding-top: 32px;
        @include breakpoint(medium down){
            padding: 0;
            flex-direction: column;
        }
        &_left{
            flex: 1 1 auto;
            margin-right: 20px;
        }
        &_right{
            flex: 0 0 300px;
            @include breakpoint(medium down){
                display: flex;
                padding: 0 10px;
                flex: 0 0 auto;
            }
            @include breakpoint(small down){
                padding: 0;
                flex-direction: column;
            }
        }
    }
    &_logistics{
        padding: 10px 30px 30px;
        border-bottom: 1px solid $light-gray;
        @include breakpoint(medium down){
            padding: 26px 10px 30px;
        }
        @include breakpoint(small down){
            padding: 30px 0 0;
            border: 0;   
        }
        &_list{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            font-size: 16px;
            font-family: $book-font-family;
            margin: 0 0 35px;
            @include breakpoint(medium down){
                margin: 24px 0 25px;
                font-size: 14px;
            }
            @include breakpoint(small down){
                margin: 20px 0 5px;
            }
            li{
                flex: 1 1 50%;
                display: flex;
                align-items: center;
                margin-bottom: 35px;
                @include breakpoint(medium down){
                    margin-bottom: 20px;
                }
                @include breakpoint(small down){
                    flex: 1 1 100%;
                    margin-bottom: 25px;
                }
                &:nth-child(odd){
                    padding-right: 20px;
                }
            }
        }
        &_icon{
            flex: 0 0 24px;
            width: 24px;
            height: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.25;
            margin-right: 10px;
        }
        &_header{
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 700;
            @include breakpoint(medium down){
                font-size: 18px;
                margin-bottom: 40px;
            }
            @include breakpoint(small down){
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
        &_companies{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            list-style: none;
            @include breakpoint(medium down){
                flex-wrap: nowrap;
            }
            @include breakpoint(small down){
                flex-wrap: wrap;
                justify-content: center;
            }
            li{
                margin: 5px 0;
                @include breakpoint(small down){
                    height: 30px;
                    img{
                        max-height: 100%;
                    }
                }
                &:not(:last-child){
                    margin-right: 30px;
                    @include breakpoint(medium down){
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    &_brands{
        padding: 35px 30px 90px;
        border-bottom: 1px solid $light-gray;
        position: relative;
        @include breakpoint(medium down){
            padding: 30px 10px 85px;
        }
        @include breakpoint(small down){
            padding: 35px 0 47px;
        }
        &_lists{
            margin-top: 30px;
            font-family: $book-font-family;
            columns: 5;
            @include breakpoint(large down){
                columns: 4;
            }
            @include breakpoint(medium down){
                columns: 3;
            }
            @include breakpoint(small down){
                margin-top: 20px;
                columns: 2;
            }
        }
        &_list{
            margin: 0;
            list-style: none;
            font-size: 13px;
            margin: 0 0 20px;
            line-height: 1.38;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            li:first-child{
                &:first-letter{
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
        &_button{
            position: absolute;
            z-index: 2;
            font-size: 20px;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            padding: 20px;
            color: $primary-color;
            font-family: $book-font-family;
            white-space: nowrap;
            @include breakpoint(medium down){
                padding: 10px;
                bottom: 24px;
                font-size: 16px;
            }
            @include breakpoint(small down){
                font-size: 14px;
                bottom: 13px;
            }
        }
    }
    &_cats{
        padding: 38px 30px 0;
        @include breakpoint(large down){
            width: calc(100% + 320px);
        }
        @include breakpoint(medium down){
            padding: 26px 10px 20px;
            width: 100%;
        }
        @include breakpoint(small down){
            padding: 26px 0 20px;
        }
        &_list{
            margin: 40px 0 0;
            list-style: none;
            font-family: $book-font-family;
            font-size: 13px;
            display: flex;
            flex-wrap: wrap;
            @include breakpoint(medium down){
                margin-top: 35px;
            }
            @include breakpoint(small down){
                font-size: 12px;
                margin-top: 20px;
            }
            a{
                display: block;
                border-radius: 4px;
                border: 1px solid $medium-gray;
                padding: 10px 15px;
                color: #1f3d82;
                margin: 0 10px 10px 0;
                @include breakpoint(medium down){
                    padding: 10px 12px;
                }
                @include breakpoint(small down){
                    padding: 11px 10px;
                }
            }
        }
    }
    &_item{
        border-radius: 4px;
        border: 1px solid $light-gray;
        padding: 20px 14px 20px 20px;
        display: flex;
        @include breakpoint(medium down){
            padding: 20px 10px 18px;
            &:not(:nth-child(-n+2)){
                display: none;
            }
        }
        @include breakpoint(small down){
            padding: 18px 10px;
        }
        & + & {
            margin-top: 20px;
            @include breakpoint(medium down){
                margin: 0 0 0 10px;
            }
            @include breakpoint(small down){
                margin: 10px 0 0;
            }
        }
        &_left{
            flex: 0 0 120px;
            text-align: center;
            margin-right: 12px;
            @include breakpoint(medium down){
                flex: 0 1 110px;
                min-width: 75px;
                margin-right: 9px;
            }
            @include breakpoint(small down){
                flex: 0 0 110px;
                margin-right: 20px;
            }
        }
        &_img{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 22px;
            height: 85px;
            @include breakpoint(medium down){
                height: 78px;
                margin-bottom: 30px;
            }
            @include breakpoint(small down){
                padding: 4px;
            }
            img{
                max-height: 100%;
            }
        }
        &_price{
            font-family: $header-font-family;
            font-size: 18px;
        }
        &_right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include breakpoint(medium down){
                padding-top: 4px;
            }
        }
        &_title{
            font-family: $book-font-family;
            @include breakpoint(medium down){
                font-size: 13px;
            }
            @include breakpoint(small down){
                line-height: 1.46;
            }
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
        &_cart{
            display: flex;
            align-items: center;
            color: $primary-color;
            font-family: $book-font-family;
            font-size: 13px;
            margin-top: auto;
            height: 23px;
            svg{
                color: $black;
                opacity: 0.41;
                margin-right: 7px;
                transition: 250ms;
            }
            &:hover{
                svg{
                    opacity: 1;
                }
            }
        }
    }
}