-
    const items = [
        {
            id: 8953,
            name: 'Поставка лекарственных средств',
            price_label: 'Не выставлена',
            organizer: 'Портал Поставщиков г.Москвы',
            pub_date: '22.10.2019',
            end_date: '23.10.2019',
            status: 'placed',
            status_label: 'Размещено',
            options: {
                cash: true,
                bids: 0
            }
        },
        {
            id: 8952,
            name: 'ГБУЗ "Переволоцкая РБ"',
            price: '11 103.00',
            organizer: 'Портал Поставщиков г.Москвы',
            pub_date: '22.10.2019',
            end_date: '23.10.2019',
            status: 'placed',
            status_label: 'Размещено',
            options: {
                bids: 0
            }
        },
        {
            id: 8947,
            name: 'Поставка товара',
            price: '3 339.75',
            organizer: 'Портал Поставщиков г.Москвы',
            pub_date: '22.10.2019',
            end_date: '23.10.2019',
            status: 'placed',
            status_label: 'Размещено',
            options: {
                cash: true,
                bids: 0
            }
        },
        {
            id: 8946,
            name: 'Поставка накопителей для нужд организации',
            price: '1 250.00',
            organizer: 'Портал Поставщиков г.Москвы',
            pub_date: '22.10.2019',
            end_date: '28.10.2019',
            status: 'placed',
            status_label: 'Размещено',
            options: {
                cash: true,
                bids: 0
            }
        },
        {
            id: 8943,
            name: 'Водонагреватель на 10 литров',
            price: '15 300.00',
            organizer: 'ВТБ (Административно-хозяйственные закупки)',
            pub_date: '22.10.2019',
            end_date: '28.10.2019',
            status: 'placed',
            status_label: 'Размещено',
            options: {
                bids: 0
            }
        },
    ]

section.auction
    .auction_block.auction_block--large
        h1.auction_block_title
            | Торги
        .auction_block_content
            form.auction_filters
                .auction_filter.auction_filter--search
                    .auction_filter_input
                        button.auction_filter_button
                            +icon('search', [13, 16])
                        input(type="search" name="q" placeholder="Поиск")
                    .auction_filter_input
                        button.auction_filter_button
                            +icon('search', [13, 16])
                        input(type="search" name="number" placeholder="По номеру")
                .auction_filter.auction_filter--checkboxes
                    +selection('checkbox', 'sign[]', 'fMine', 'Только мои', 'mine')
                    +selection('checkbox', 'sign[]', 'fCurr', 'Действующие', 'current', true)
                    +selection('checkbox', 'sign[]', 'fParticipant', 'С моим участием', 'participant')
                    +selection('checkbox', 'sign[]', 'fPartner', 'Партнерские площадки', 'partner')
                .auction_filter.auction_filter--search
                    .auction_filter_input.auction_filter_input--multiselect
                        input(type="text" readonly)
                        .auction_filter_selection
                            span г. Москва
                            button(type="button")
                                +icon('close', [10, 10])
                    .auction_filter_input.auction_filter_input--multiselect
                        input(type="text" placeholder="Выберите свой город" readonly)
                #aFilters.form.auction_dropdown(data-dropdown data-close-on-click="true" data-v-offset="17" data-h-offset="-30" data-trap-focus="true")
                    .form_input
                        input(type="text" name="categories" placeholder="Категории продукта")
                    .form_input
                        input(type="text" name="okpd" placeholder="ОКПД2")
                    .form_input
                        label.form_label(for="startDate")
                            | Дата начала
                        input#startDate(type="text" name="startDate" placeholder="Дата от — Дата до")
                    .form_input
                        label.form_label(for="endDate")
                            | Дата окончания
                        input#endDate(type="text" name="endDate" placeholder="Дата от — Дата до")
                    .form_input.form_input--select
                        select(name="currency")
                            option RUB
                            option USD
                            option EUR
                        input(type="text" name="startPrice" placeholder="Стартовая цена")
                    .form_input
                        input(type="text" name="startPrice" placeholder="Конечная цена")
                    .form_input
                        input(type="text" name="status" placeholder="Статус")
                    .form_input
                        input(type="text" name="organizer" placeholder="Организатор")
                    .form_buttons
                        button.button.hollow.flat(type="reset")
                            | Очистить
            button.auction_filters_more(data-toggle="aFilters")
                +icon('filter', [19, 18])
                | Дополнительные фильтры
                span
                    +icon('arrow_top', [8, 9])
            +filters()(class="catalog_items_filters--auction")
            .auction_items
                each _ in Array(2)
                    each item in items
                        .auction_item
                            p.auction_item_number
                                | №
                                =item.id
                            ul.auction_item_left
                                li.auction_item_field
                                    b.auction_item_label
                                        | Наименование:
                                    =item.name
                                li.auction_item_field
                                    b.auction_item_label
                                        | Начальная цена:  
                                    if item.price
                                        b
                                            = item.price
                                            | 
                                            | ₽
                                    else
                                        =item.price_label
                                li.auction_item_field.auction_item_field--actions
                                    a.button.hollow.large(href="#")
                                        | Подробнее
                                    ul.auction_item_options
                                        each key in Object.keys(item.options)
                                            li.auction_item_option
                                                case key
                                                    when 'cash'
                                                        +icon('ruble', [29, 16])
                                                    when 'bids'
                                                        +icon('gavel', [17, 17])
                                                        span=item.options[key]
                            ul.auction_item_right
                                li.auction_item_field
                                    b.auction_item_label
                                        | Организатор:
                                    =item.organizer
                                li.auction_item_field
                                    b.auction_item_label
                                        | Дата публикации:  
                                    =item.pub_date
                                li.auction_item_field
                                    b.auction_item_label
                                        | Дата окончания приема заявок:  
                                    =item.end_date
                                .success.auction_item_status(class=`auction_item_status--${item.status}`)
                                    =item.status_label
            +filters()(class="catalog_items_filters--abottom")