form.auction.auction--new
    .auction_add
        h1.h2.form_header
            | Новая закупка
        .form
            .form_input
                input(type="text" placeholder="Наименование закупки*" required)
            .form_input
                input(type="text" placeholder="Общая информация о закупке*" required)
            .form_input
                select(required)
                    option(value="" selected disabled)
                        | Категория товаров*
            .form_row
                .form_input
                    input(type="text" placeholder="Начальная цена с НДС")
                .form_input
                    input(type="text" placeholder="Валюта")
            .form_input
                input(type="text" placeholder="Контактное лицо (ФИО)*" required)
            .form_input
                input(type="tel" placeholder="Контактный телефон*" required)
            .form_input
                input(type="text" placeholder="Заказчик*" required)
            .form_row
                .form_file
                    label Требования
                    label.button.hollow
                        input(type="file")
                        +icon('clip', [17, 16])
                        | Добавить
                .form_file.uploaded
                    label Форма коммерческого предложения
                    .form_file_name
                        +icon('clip', [17, 16])
                        span Коммерческое_&thinsp;предложение.pdf
                        button.form_file_remove(type="button")
                            +icon('close', [12, 11])

                    label.button.hollow
                        input(type="file")
                        +icon('clip', [17, 16])
                        | Добавить
            .form_input
                input(type="text" placeholder="Условия поставки и оплаты товара*" required)
            .form_row
                .form_input
                    input(type="text" placeholder="Дата начала приема заявок*" required)
                .form_input
                    input(type="text" placeholder="Дата окончания приема заявок*" required)
            .form_row
                .form_input
                    input(type="text" placeholder="Время начала приема заявок*" required)
                .form_input
                    input(type="text" placeholder="Время окончания приема заявок*" required)
    .auction_spec
        h2.h1.form_header.form_header--secondary
            | Спецификация №1
        .form
            .form_input
                input(type="text" placeholder="Наименование*" required)
            .form_input
                input(type="text" placeholder="Описание")
            .form_input
                select(required)
                    option(value="" selected disabled)
                        | Код позиции по ОКПД2*
            .form_row
                .form_input
                    input(type="text" placeholder="Цена за единицу")
                .form_input
                    input(type="text" placeholder="Количество")
            .form_input
                select
                    option(value="" selected disabled)
                        | Единица измерения
            .form_row
                .form_input
                    input(type="text" placeholder="Ставка НДС*" required)
                .form_input
                    input(type="text" placeholder="Сумма НДС")
            .form_input
                input(type="text" placeholder="Итог*" required)
            .form_add
                label Добавить еще спецификацию
                button.button.hollow(type="button")
                    | Добавить
    .auction_buttons
        +check('placeOrder', 'Разместить торг на площадке партнеров', true)
        button.button
            | Создать