footer.footer
    .footer_left
        p
            img(src="./assets/img/logo.svg", alt="ВТБ Бизнес Коннект")
        p
            | Генеральная лицензия Банка России №1000
            br
            | © ВТБ, 2007 — 2019
        p
            a(href="#" target="_blank")
                | Политика обработки персональных данных
            br
            a(href="#" target="_blank")
                | Оферта
    .footer_right
        p
            | 190000, г. Санкт-Петербург, ул. Большая Морская, д. 29
            | Служба Технической поддержки ВТБ «Бизнес-Коннект»:
            br
            a(href="mailto:help@vtbconnect.ru" target="_blank") help@vtbconnect.ru