section.catalog.item
    h1.item_title
        | Моноблок Acer Aspire C20-820 DQ.BC4ER.001
    .item_content
        .item_content_top
            .item_images
                .item_images_main
                    img(srcset=`./assets/img/items/1@2x.jpg 2x, ./assets/img/items/1.jpg 1x` src=`./assets/img/items/1.jpg`, alt="Моноблок Acer Aspire C20-820 DQ.BC4ER.001")
                .item_images_carousel
                    each _, i in Array(3)
                        .item_images_small
                            img(srcset=`./assets/img/items/${i+2}@2x.jpg 2x, ./assets/img/items/${i+2}.jpg 1x` src=`./assets/img/items/${i+2}.jpg`, alt="Моноблок Acer Aspire C20-820 DQ.BC4ER.001")
                    button.item_images_carousel-controls.item_images_carousel-controls--prev.disabled
                        +icon('arrow_left', [9, 12])
                    button.item_images_carousel-controls.item_images_carousel-controls--next
                        +icon('arrow_right', [9, 12])
            .item_info
                .item_info_top
                    +rating(4.5)(class="rating--large")
                    span.item_info_art
                        | Арт. 1283446
                ul.item_list
                    li
                        span Процессор:
                        | Intel Celeron J3060
                    li
                        span Количество ядер:
                        | 2
                    li
                        span Частота:
                        | 1600 мГц
                    li
                        span Разрешение экрана:
                        | 1600x900 
                    li
                        span Размер оперативной памяти:
                        | 4 ГБ 
                    li
                        span Тип оперативной памяти:
                        | DDR3L, 
                    li
                        span Обьем жесткого диска:
                        | HDD 0.500 ТБ, 
                    li
                        span Операционная система:
                        | без ОС
            .item_buy
                .item_buy_cart
                    b.item_buy_price
                        | 19 799 ₽
                    button.button
                        | В корзину
                .item_buy_seller
                    .item_buy_seller-img
                        img(srcset=`./assets/img/sellers/rs@2x.jpg 2x, ./assets/img/sellers/rs.jpg 1x` src=`./assets/img/sellers/rs.jpg`, alt="Продавец: Банк русский стандарт")
                    p.item_buy_seller-name
                        b Продавец 
                        | Банк русский стандарт
                    a.item_buy_seller-link(href="#")
                        +icon('envelope', [21, 16])
                        | Связаться
        .item_details
            h2.item_details_header
                | Описание
            p.item_details_text
                | 19.5" Моноблок Acer Aspire C20-820 [DQ.BC4ER.001] - универсальный и многофункциональный компьютер для дома и офиса, обеспечивающий удобства веб-серфинга, решения или учебных рабочих задач. В тонком белом корпусе устройства с 19.5-дюймовым экраном расположены все компоненты системного блока. Его дисплей обеспечивает максимальное разрешение изображения 1600x900 пикселей. Моноблок оборудован процессором Intel Celeron J3060 и 4 ГБ оперативной памяти, а задачу обработки графических данных в этой модели решает интегрированная видеокарта Intel HD Graphics 400.
                br
                | Единственный жесткий диск компьютера-моноблока Acer Aspire C20-820 [DQ.BC4ER.001] вмещает до 500 ГБ любых цифровых данных - программ, мультимедиа, документов. Устройство не имеет предустановленной ОС, поэтому у вас будет возможность самостоятельно выбрать и установить на него оптимальную платформу. Моноблок укомплектован фирменными проводными манипуляторами - клавиатурой и мышью.
            
            h2.item_details_header
                | Характеристики
            .item_details_specs.folded
                .cell
                    .item_details_block
                        h3.item_details_specs-header
                            | Общие параметры
                        ul.item_list
                            li
                                span Модель:
                                | Acer Aspire C20-820
                            li
                                span Основной цвет:
                                | белый
                            li
                                span Операционная система:
                                | без ОС
                    .item_details_block
                        h3
                            | Конструкция
                        ul.item_list
                            li
                                span Материал корпуса:
                                | пластик
                            li
                                span Настенное крепление VESA:
                                | нет
                    .item_details_block
                        h3
                            | Встроенное дополнительное оборудование
                        ul.item_list
                            li
                                span Оптический привод:
                                | нет
                            li
                                span Веб-камера:
                                | есть
                            li
                                span Акустическая система:
                                | есть
                            li
                                span Встроенный микрофон: 
                                | есть
                            li
                                span Встроенный карт-ридер: 
                                | есть
                            li
                                span Типы поддерживаемых карт памяти: 
                                | SDHC, SDXC, SD
                    .item_details_block
                        h3 Коммуникация
                        ul.item_list
                            li
                                span Вид доступа в Интернет: 
                                | проводной, беспроводной
                            li
                                span Скорость встроенного сетевого адаптера: 
                                | 1000 Мбит
                            li
                                span Bluetooth: 
                                | есть
                    .item_details_block
                        h3 Дополнительная информация
                        ul.item_list
                            li
                                span Расположение блока питания: 
                                | внешний
                            li
                                span Клавиатура и мышь в комплекте: 
                                | проводная клавиатура, проводная мышь

                    .item_details_block
                        h3 Интерфейсы/разъемы
                        ul.item_list
                            li
                                span Видео интерфейсы: 
                                | HDMI выход x1
                            li
                                span Аудио интерфейсы: 
                                | 3.5 мм jack (микрофон/аудиовыход) x1
                            li
                                span Количество USB 3.1: 
                                | нет
                            li
                                span Количество USB 3.0: 
                                | 1 шт
                            li
                                span Количество USB 2.0: 
                                | 2 шт
                    .item_details_block
                        h3 Габариты, вес
                        ul.item_list
                            li
                                span Ширина: 
                                | 478.24 мм
                            li
                                span Высота: 
                                | 386.5 мм
                            li
                                span Толщина: 
                                | 30.9 мм

                .cell
                    .item_details_block
                        h3
                            | Экран
                        ul.item_list
                            li
                                span Технология изготовления матрицы:
                                | TN + film
                            li
                                span Диагональ экрана:
                                | 19.5"
                            li
                                span Разрешение экрана:
                                | 1600x900
                            li
                                span Плотность пикселей:
                                | 94 ppi
                            li
                                span Сенсорный экран:
                                | нет

                    .item_details_block
                        h3
                            | Процессор
                        ul.item_list
                            li
                                span Модель процессора:
                                | Celeron J3060
                            li
                                span Количество ядер процессора:
                                | 2
                            li
                                span Частота:
                                | 1600 мГц
                            li
                                span Максимальная частота в турбо режиме:
                                | 2480 МГц
                            li
                                span Объем кэша L2:
                                | 2 МБ
                    .item_details_block
                        h3 Оперативная память
                        ul.item_list
                            li
                                span Тип оперативной памяти: 
                                | DDR3L
                            li
                                span Размер оперативной памяти: 
                                | 4 ГБ
                            li
                                span Максимальный поддерживаемый размер памяти: 
                                | 0.008 ТБ
                    .item_details_block
                        h3 Накопители
                        ul.item_list
                            li
                                span Общий объём жестких дисков (HDD): 
                                | 0.500 ТБ
                            li
                                span Объем твердотельного накопителя (SSD): 
                                | нет

                    .item_details_block
                        h3 Видеокарта
                        ul.item_list
                            li
                                span Вид графического ускорителя: 
                                | встроенный
                            li
                                span Модель дискретной видеокарты: 
                                | нет
                            li
                                span Модель интегрированной видеокарты: 
                                | Intel HD Graphics 400
                            li
                                span Тип видеопамяти: 
                                | SMA
                            li
                                span Объем видеопамяти: 
                                | использует системную
                button.item_details_button
                    | Смотреть все характеристики

 
  


  
 
 
























