aside.left_menu
    a.logo(href="/")
        img(src="./assets/img/logo.svg", alt="ВТБ Бизнес Коннект")
    +menu()(class="vertical menu--left")
    button.button.hollow.icon
        +icon('arrow_left', [7, 11])
        | Свернуть