aside.left_menu
    a.logo(href="/")
        img(src="./assets/img/logo.svg", alt="ВТБ Бизнес Коннект")
    +menu([
        {
            icon: ['clip', [21, 20]],
            title: 'Заказы',
            link: '#'
        },
        {
            icon: ['package', [20, 20]],
            title: 'Товары и поставщики',
            link: '#',
            active: true
        },
        {
            icon: ['barcode', [18, 20]],
            title: 'Торги',
            link: '#'
        },
        {
            icon: ['magazine', [18, 20]],
            title: 'Каталог товаров',
            link: '#'
        },
        {
            icon: ['package_up', [18, 22]],
            title: 'Экспорт менеджер',
            link: '#'
        },
        {
            icon: ['hat', [25, 20]],
            title: 'Академия экспорта',
            link: '#'
        },
    ])(class="vertical menu--left")
    button.button.hollow.icon
        +icon('arrow_left', [7, 11])
        | Свернуть