section.catalog.supplier
    h1.item_title.supplier_title
        span
            | ООО "СтройСнабСервис"
            span.catalog_item_approved
                +icon('check', [14, 11])
        +rating(4.5)(class="rating--large")
    .supplier_content
        .supplier_info
            .supplier_info_left
                .supplier_info_img  
                    img(srcset=`./assets/img/suppliers/sss_big@2x.jpg 2x, ./assets/img/suppliers/sss_big.jpg 1x` src=`./assets/img/suppliers/sss_big.jpg`, alt='ООО "СтройСнабСервис"')
                .catalog_item_country
                    span.flag-icon(class=`flag-icon-ru`)
                    | Москва
            .supplier_info_content
                p.supplier_info_descr
                    | Вас приветствует группа компаний «СтройСнабСервис» У нас Вы сможете заказать все строительные и отделочные материалы, а также электроинструмент, инструмент и расходные материалы для работы по ценам производителей и все в одном месте с доставкой в день обращения!
                .supplier_info_links
                    a.catalog_item_link(href="#")
                        span.catalog_item_link-icon   
                            +icon('envelope', [21, 16])
                        | Связаться
                    a.catalog_item_link(href="/")
                        span.catalog_item_link-icon   
                            +icon('package', [20, 20])
                        | 325 товаров
        
            .supplier_info_contact
                h3 Контактная информация 
                table
                    tr
                        td Телефон:
                        td +7 (495) 127-04-55
                    tr
                        td E-mail:
                        td Pavel.e@snab2002.ru
                    tr
                        td ИНН:
                        td 9701067426
        .supplier_details.folded
            h2
                | Общая информация
            p.supplier_details_text
                | Вас приветствует группа компаний «СтройСнабСервис» У нас Вы сможете заказать все строительные и отделочные материалы, а также электроинструмент, инструмент и расходные материалы для работы по ценам производителей и все в одном месте с доставкой в день обращения! Вас приветствует группа компаний «СтройСнабСервис» У нас Вы сможете заказать все строительные и отделочные материалы, а также электроинструмент, инструмент и расходные материалы для работы по ценам производителей и все в одном месте с доставкой в день обращения!Вас приветствует группа компаний «СтройСнабСервис» У нас Вы сможете заказать все строительные и отделочные материалы, а также электроинструмент, инструмент и расходные материалы для работы по ценам производителей и все в одном месте с доставкой в день обращения!
            button.supplier_details_button
                | Смотреть всю информацию
        .supplier_cols
            .supplier_cols_left
                .supplier_logistics
                    h2
                        | Логистика
                    ul.supplier_logistics_list
                        li
                            .supplier_logistics_icon
                                +icon('return', [20, 20])
                            | Есть возврат товара
                        li
                            .supplier_logistics_icon
                                +icon('airplane', [20, 20])
                            | Возможность доставки контрагенту в том же городе
                        li
                            .supplier_logistics_icon
                                +icon('shop', [20, 20])
                            | Возможность доставки потребителю (Дропшип)
                        li
                            .supplier_logistics_icon
                                +icon('truck', [22, 16])
                            | Доставка нашей компанией
                        li
                            .supplier_logistics_icon
                                +icon('warehouse', [24, 23])
                            | Самовывоз
                    h3.h2.supplier_logistics_header
                        | Транспортные компании
                    ul.supplier_logistics_companies
                        li
                            img(srcset="./assets/img/companies/delko@2x.png 2x, ./assets/img/companies/delko.png 1x" src="./assets/img/companies/delko.png", alt="Delko")
                        li
                            img(srcset="./assets/img/companies/vodovoz@2x.png 2x, ./assets/img/companies/vodovoz.png 1x" src="./assets/img/companies/vodovoz.png", alt="Vodovoz")
                        li
                            img(srcset="./assets/img/companies/gruzovichkof@2x.png 2x, ./assets/img/companies/gruzovichkof.png 1x" src="./assets/img/companies/gruzovichkof.png", alt="ГрузовичкоФ")
                        li
                            img(srcset="./assets/img/companies/gazelkin@2x.png 2x, ./assets/img/companies/gazelkin.png 1x" src="./assets/img/companies/gazelkin.png", alt="Газелькин")
                        li
                            img(srcset="./assets/img/companies/delovie_linii@2x.png 2x, ./assets/img/companies/delovie_linii.png 1x" src="./assets/img/companies/delovie_linii.png", alt="Деловые Линии")

                .supplier_brands
                    h2 Бренды
                    .supplier_brands_lists
                        -
                            const brands = [
                                ['88 Luxe', '88-Metal', '88-НТ'],
                                ['Abro', 'Abro-Fix', 'Abrolock', 'Abro Masters', 'Abro Platinum', 'Abro Premium', 'Abro Rus', 'Abrosteel', 'AEG Haustechnik', 'Aervoe', 'Alpa', 'Alpina', 'American Accents', 'AquaMast', 'Arbonia', 'Ariston', 'Artelit'],
                                ['Ballu', 'Baufan', 'Baxi', 'Beats the Nail', 'Beckers', 'Bellux', 'Beorol', 'Beretta', 'Bergauf', 'Biemmedue', 'Bosch', 'Bosny', 'Bostik', 'Buderus'],
                                ['Capadecor', 'Caparol', 'Capatect', 'Ceresit', 'Chemlux', 'Concrete Stain', 'Cover'],
                                ['Dakon', 'Dali', 'Dali Decor', 'DAP', 'Decoself', 'DecoTech', 'De Dietrich', 'Derusto', 'Disbon', 'Dow Corning', 'Dufa', 'Dulux'],
                                ['Ecopol', 'Edisson', 'Egger', 'Elcon', 'Electrolux', 'EpoxyShield'],
                                ['Faber', 'Feidal', 'Feidal Vintage'],
                                ['Global', 'Glunz AG', 'Glutoclean', 'Gorenje'],
                                ['Hammerite', 'Harris', 'Harvia', 'Heydi', 'Histolith', 'Homa', 'Homaclean', 'Homaflex', 'Homafloor', 'Homakoll', 'Homastic', 'Homax', 'Huntsman NMG'],
                                ['Ikea Industry', 'Infostroy', 'Iso Chemicals', 'Isocryl'],
                                ['Jobi', 'Juta'],
                                ['Kastamonu', 'Kermi', 'Kerry', 'K-Flex', 'K-Fonik', 'Kiilto', 'Kiturami', 'Kleo', 'Konner', 'Krafor', 'Krass', 'Kronobuild', 'Kronodesign', 'Kudo', 'Kudo Arte', 'Kudo Auto', 'Kudo Home', 'Kudo Party', 'Kudo Proff', 'Kudo Tren'],
                            ]
                        each brandGroup in brands
                            ul.supplier_brands_list
                                each brand in brandGroup
                                    li=brand
                    button.supplier_brands_button
                        | Смотреть все бренды
                
                .supplier_cats
                    h2 Категории
                    ul.supplier_cats_list
                        li
                            a(href="#")
                                | Сухие смеси
                        li
                            a(href="#")
                                | Утеплители
                        li
                            a(href="#")
                                | Лаки, краски и оборудование для покраски
                        li
                            a(href="#")
                                | Прочие ЛКМ
                        li
                            a(href="#")
                                | Клеи и герметики
                        li
                            a(href="#")
                                | Смесители и перемещивающие устройства
                        li
                            a(href="#")
                                | Краски и грунтовки водно-диспперсионные

            .supplier_cols_right
                each _ in Array(7)
                    .supplier_item
                        .supplier_item_left
                            .supplier_item_img
                                img(srcset="./assets/img/related@2x.jpg 2x, ./assets/img/related.jpg 1x" src="./assets/img/related.jpg", alt="Моноблок Acer Aspire C20-820 DQ. BC4ER.001")
                            b.supplier_item_price
                                | 19 799 ₽
                        .supplier_item_right
                            a.supplier_item_title(href="./item.html")
                                | Моноблок Acer Aspire C20-820 DQ. BC4ER.001
                            +rating(4.5)(class="rating--small")
                            button.supplier_item_cart
                                +icon('cart', [19, 16])
                                | В корзину


 

 
