mixin menu(data, lvl)
    - 
        data = data || [
            {
                icon: ['clip', [21, 20]],
                title: 'Заказы',
                link: '#'
            },
            {
                icon: ['package', [20, 20]],
                title: 'Товары и поставщики',
                link: '/',
                active: (page == 'main')
            },
            {
                icon: ['barcode', [18, 20]],
                title: 'Торги',
                link: '/auction.html'
            },
            {
                icon: ['magazine', [18, 20]],
                title: 'Каталог товаров',
                link: '#'
            },
            {
                icon: ['package_up', [18, 22]],
                title: 'Экспорт менеджер',
                link: '#'
            },
            {
                icon: ['hat', [25, 20]],
                title: 'Академия экспорта',
                link: '#'
            },
            {
                icon: ['documents', [18, 22]],
                title: 'Документооборот',
                link: '/documents.html'
            },
            {
                icon: ['analytics', [21, 22]],
                title: 'Отчеты',
                link: '/reports.html'
            }
        ]

    ul.menu&attributes(attributes)
        each item, i in data
            li(class=item.active || (item.link && item.link.includes(page)) ? 'active' : '')
                a(href=item.link || '#' data-level=lvl||false)
                    if item.icon
                        .menu_icon
                            +icon(...item.icon)
                    =item.title