#menu.off-canvas.position-top.header_mobile(data-off-canvas data-transition="overlap" data-auto-focus="false")
    .header_mobile_top
        +search()(class="header_search--mobile")
        +lang('div')(class="header_lang--mobile")
    button.header_mobile_user
        +icon('user', [16, 18])
        | ООО "Погода в дом"
    +menu()(class="vertical menu--left menu--mobile")
    //- +menu('vertical')