extends ../layouts/_main

block const
    -
        const page = 'auction'
        const name = 'Торг №8575'

block content
    include ../sections/_auction_participant
    include ../components/_auction_popup
    