extends ../layouts/_main

block const
    -
        const page = 'documents'
        const name = 'Новый документ'

block content
    include ../sections/_documents_new
    +new_doc('section')(class="documents--new")