extends ../layouts/_main

block const
    -
        const page = 'main'
        const name = 'Товары и поставщики'

block content
    include ../components/_filters
    include ../components/_breadcrumbs
    include ../sections/_catalog