extends ../layouts/_main

block const
    -
        const page = 'documents'
        const name = 'Заказ #1153'

block content
    include ../sections/_order
    include ../sections/_documents_new
    include ../components/_popup