block const
-
    const title  = `${name ?  `${name} – ` : ''}ВТБ Бизнес Коннект`;
    const descr  = 'Description';
    const domain = 'vtb.salex.pro'

//- Components
include ../components/_icons
include ../components/_menu
include ../components/_rating
include ../components/_header_components
include ../components/_selection

doctype html
html(lang="ru")
    include ../components/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            if page != 'register' && page != 'wallet'
                include ../sections/_left_menu
            .content
                include ../sections/_header
                block content
                include ../sections/_footer
        if page != 'register'
            include ../components/_offcanvas
        block js
            script(src="./js/app.min.js")